.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    margin-top: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
  &__footer {
    margin-top: auto;
  }
}
