.statistic {
  &__table-header {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
  }
  &__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    & > svg {
      width: 240px;
      margin-bottom: 12px;
    }
  }
  &__chart-legend {
    display: flex;
    align-items: baseline;
  }
  &__round {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
